footer {
    background-color: $colorfondo;
    display:grid;
    text-align: center;
    position: end;
    justify-content: center;
     .btnista {background-color: #ac2bac;color: black;}
     .btntw {background-color: #55acee;color: black;}
    }
    