//Variable//
$colorfondo: rgba(255, 153, 0, 0.87);

//Zonas//
header {
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
  }

body {
    background-image: url(/assets/multimedia/fondoweb.jpg);
    background-size:contain
    }
    
.row {
    text-align: center;justify-content: space-between;}

main {
        position: relative;
        padding: 20px;
        margin-top: 20px;
      }

//Fonts de los textos)//
h1 {text-align: center;justify-content:center;}
h2 {font-family: Arial;text-decoration: underline;}
h3 {font-family: Arial, Helvetica, sans-serif;font-size:x-large;text-decoration: underline;}
p {font-family:Arial, Helvetica, sans-serif;font-size: medium;}


//Carousel de IMG//
.slide {margin-top: 10px;
          img{height: 90vh; }}